/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

nav ul li a.active {
    background-color: #7a7a7a;
    color: white;
}

.profile-photo {
    width: 30%;
    /* Adjust as needed */
    height: auto;
}

.bio {
    margin-left: 220px; /* Adjust based on image width */
}

/* Responsive styling */
@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
    }
    
    .bio {
        margin-left: 0;
    }
}
