/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
}

.profile-photo {
    width: 80%;
    /* Adjust as needed */
    height: auto;
}

.bio {

}

/* Responsive styling */
@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
    }
    
    .bio {
        margin-left: 0;
    }
}
