/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
}

.profile-photo {
    width: 70%;
    height: auto;
    display: block;
    margin: auto; /* Center horizontally */
}


/* Responsive styling */
@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
    }
    
    .bio {
        margin-left: 0;
    }
}
